// app global css in SCSS form
// app global css in SCSS form

body {
  font-family: "Bitter", serif;
}

.color-bg {
  background-color: $background
}
.color-text {
  color: $primary;
}
.bg-promo {
  background-color: $promo;
}
.text-weight-bold {
  font-weight: 600;
}
